<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body class="">
    
   

    <div class="container-fluid py-5"  style="
    background-image: linear-gradient(
      to right,
      rgb(61, 57, 57),
      rgb(136, 136, 130)
    );
    height: 100vh;
  ">
      <div
        class="row  mx-auto py-5 "
       
      >
      <div class="col-4"></div>
        <div class="col-4 bg-white d-flex  align-items-center">
          <div class="col-1">

          </div>
          <div class="col-10  py-5">
            <div class="text-center">
              <h3>WELCOME TO HOOKAH</h3>
            </div>
          
            <div class="mt-5 ">

              <button type="button" class="btn brder border-secondary w-100">
                <i class="bi bi-google gradient-icon" ></i> Continue With Google
              </button>
            <div class="my-4">
             <p class="text-center m-0">or</p>
              <hr class="m-0">
            </div>  
       
            </div>
            <form action="/login" class="" method="post">
              <div>
           
          
              <div class="mb-4 ">
                <input
                  type="email"
                  class="ms-1 form-control"
                  id="email"
                  name="email"
                  onblur="emailChaking()"
                  placeholder="Enter Email"
                />
                <div
                id="erroremail"
                class=" ms-2  text-danger"
              ></div>
              </div>
            

              
          

              <div class="mb-4 ">
                <input
                  type="password"
                  class="ms-1 form-control"
                  id="password"
                  name="password"
                  onblur="passwordChaking()"
                  placeholder="Enter Password"
                />
                <div
                id="errorpassword"
                class="ms-2 text-danger"
              ></div>
              </div>
           

              
            </div>
            
              <div class="">
                <button type="submit" class="btn btn-outline-dark w-100 rounded-pill">
                  login
                </button>
              </div>
            </form>
            <p class="mt-3 text-center">Already have an account? <a href="/register">Register </a></p>
            <div id="invalid">
              <% if (typeof message !=='undefined' && message) { %>
                  <p class="mt-3 text-center text-danger" id="message">
                      <%= message %>
                  </p>
                  <% } %>
              </div>
          </div>
          <div class="col-1">

          </div>
        </div>
  
      </div>
    </div>

    <script>

      function emailChaking() {
        let emailId = document.getElementById("email").value;
        console.log("emailId" + emailId);
        if (
          /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId) == false
        ) {
          console.log("emailIddd" + emailId);
          document.getElementById("erroremail").innerHTML =
            "Please enter valid email ";
          return false;
        } else {
          document.getElementById("erroremail").innerHTML = "";
          return true;
        }
      }

      let password = document.getElementById("password").value;
      function passwordChaking() {
        password = document.getElementById("password").value;
        if (password == "") {
          document.getElementById("errorpassword").innerHTML =
            "please enter your password";
          return false;
        } else if (password.length < 8) {
          document.getElementById("errorpassword").innerHTML =
            "please enter minimum 8 digits";
          return false;
        } else {
          document.getElementById("errorpassword").innerHTML = "";
          return true;
        }
      }
      
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
